language: ruby
bundler_args: --without debug doc tooling
gemfile:
  - gemfiles/capistrano_v2.x.gemfile
  - gemfiles/rake_v0.9.3.gemfile
  - gemfiles/rake_v10.x.gemfile
rvm:
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ruby-head
  - ree
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - rbx-18mode
  - rbx-19mode
  - rbx
script: "bundle exec rake test"
matrix:
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-18mode
    - rvm: jruby-19mode
    - rvm: jruby-head
    - rvm: rbx-18mode
    - rvm: rbx-19mode
    - rvm: rbx
